<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Escolas do Recife</title>

    <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="@routes.Assets.at("bower_components/metisMenu/dist/metisMenu.min.css")" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="@routes.Assets.at("dist/css/timeline.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@routes.Assets.at("dist/css/sb-admin-2.css")" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="@routes.Assets.at("bower_components/morrisjs/morris.css")" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@routes.Assets.at("bower_components/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index">Escolas do Recife</a>
            </div>
            <!-- /.navbar-header -->            
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index"><i class="fa fa-dashboard fa-fw"></i> Escolas em Dados</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Gráficos <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot"> Gráficos</a>
                                </li>
                                <li>
                                    <a href="morris"> Mapas</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="tables"><i class="fa fa-table fa-fw"></i> Censo Escolar</a>
                        </li>
                        <li>
                            <a href="forms"><i class="fa fa-edit fa-fw"></i> Qual é a sua ideia ?</a>                           
                        </li>                                       
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
                   
        <div id="page-wrapper">
        
            <div class="row">
                <div class="col-lg-12">
	            <!-- Carousel -->
				<div id="myCarousel" class="carousel slide">
						  <!-- Indicators -->
						  <ol class="carousel-indicators">
						    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						    <li data-target="#myCarousel" data-slide-to="1"></li>
						    <li data-target="#myCarousel" data-slide-to="2"></li>
						  </ol>
						  <div class="carousel-inner">
						    <div class="item active">
						      <img src="@routes.Assets.at("images/escola.jpg")" style="width:100%" class="img-responsive">
						      <div class="container">
						        <div class="carousel-caption">						         
						          <p></p>
						          <p><a class="btn btn-lg btn-primary" href="text2">É a escola uma ilha?</a>
						        </p>
						        </div>
						      </div>
						    </div>
						    <div class="item">
						      <img src="@routes.Assets.at("images/cidade.gif")" class="img-responsive">
						      <div class="container">
						        <div class="carousel-caption">						          
						          <p><a class="btn btn-lg btn-primary" href="text">A Cidade e a Escola</a></p>
						        </div>
						      </div>
						    </div>
						    <div class="item">
						      <img src="@routes.Assets.at("images/frevo3.jpg")" class="img-responsive">
						      <div class="container">
						        <div class="carousel-caption">						          
						          <p><a class="btn btn-lg btn-primary" href="text3">A Influência</a></p>
						        </div>
						      </div>
						    </div>
						  </div>
						  <!-- Controls -->
						  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
						    <span class="icon-prev"></span>
						  </a>
						  <a class="right carousel-control" href="#myCarousel" data-slide="next">
						    <span class="icon-next"></span>
						  </a>  
						</div>
			    <!-- /.carousel -->                   
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
            <!-- /.row -->            
	<head>
			
			@*<script>
			function initialize()
			{
			  var mapProp = {
			    center: new google.maps.LatLng(-8.054277,-34.881256),
			    zoom:12,
			    mapTypeId: google.maps.MapTypeId.ROADMAP
			  };
			  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
			}
			
			function loadScript()
			{
			  var script = document.createElement("script");
			  script.type = "text/javascript";
			  script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyA_tVX-K86sbDJ_tPcu6O7ov10dbyElhxQ&sensor=false&callback=initialize";
			  document.body.appendChild(script);
			}
			
			var marker = new google.maps.Marker({
			    position: myLatLng,
			    map: map,
			    title: 'Hello World!'
			  });			
			
			window.onload = loadScript;
			</script>*@
			
</head>

<body>
<div id="map" style="width:1038px;height:500px;"></div>


</body>
</html>
            <!-- /.row -->        
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="@routes.Assets.at("bower_components/jquery/dist/jquery.min.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="@routes.Assets.at("bower_components/metisMenu/dist/metisMenu.min.js")"></script>

    <!-- Morris Charts JavaScript -->
    <script src="@routes.Assets.at("bower_components/raphael/raphael-min.js")"></script>
    <script src="@routes.Assets.at("bower_components/morrisjs/morris.min.js")"></script>
    <script src="@routes.Assets.at("js/morris-data.js")"></script>

    <!-- Custom Theme JavaScript -->
    <script src="@routes.Assets.at("dist/js/sb-admin-2.js")"></script>
			<script>
			function initMap() {
			  var myLatLng = {lat: -8.054277, lng: -34.881256};
			
			  var map = new google.maps.Map(document.getElementById('map'), {
			    zoom: 4,
			    center: myLatLng
			  });
			
			  var marker = new google.maps.Marker({
			    position: myLatLng,
			    map: map,
			    title: 'Hello World!'
			  });
			  
			  @*@for(e <- escolas) {
				  var marker0 = new google.maps.Marker({
					    position: {lat: @e.getLat(), lng: @e.getLong()},
					    map: map,
					    title: 'e.getNome()'
					  });
				}*@				
			}
			</script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_tVX-K86sbDJ_tPcu6O7ov10dbyElhxQ&signed_in=true&callback=initMap"></script>
</body>
</html>